<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{% extends 'Investigator/InvestigatorHome.html' %}
{% block body %}
<body>
    <h1>Change Password</h1>
    <br><br>
    <form action="/myapp/Investigator_ChangePassword_post/" method="post">
        {% csrf_token %}

        <p>Current password</p>
        <input type="password" name="olp" class="form-control" required>
        <br>
        <p>New password</p>
        <input type="password" name="newp" class="form-control" required>
        <br>
        <p>Confirm password</p>
        <input type="password" name="cp" class="form-control" required>
        <br>
        <input type="submit" value="confirm" class="btn btn-primary">
    </form>

</body>
{% endblock %}
</html>